body{
  background-color: wheat;
}
.user-container{
  height: 250px;
  width:250px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;

}
.user-specs
{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.user-name{
  font-size: 24px;
  margin: 0px;
}
.user-list{
  display:flex;
  gap:24px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.add-user-form{
  margin:20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  

}

.not-found-container{
  text-align: center;
  color: teal;
}
.not-found-image{
  width: 100%;
  object-fit: cover;
}